<div class="card gradient-custom text-white h-100 overflow-hidden">
  <button class="align-self-end btn btn-sm pt-3 pe-3" type="button"
    (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
  <h2 class="ps-5 fw-bold mb-2 text-uppercase">Вход</h2>

  <div class="card-body px-5 pb-3 text-start">
    <div class="mb-md-2 mt-md-4 pb-2">
      <form [formGroup]="form">
        <!-- <p class="text-white-50 mb-5 text-center">Моля въведете вашия имейл и парола!</p> -->

        <mat-form-field class="w-100 mb-2">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error class="mt-1" *ngIf="f['email'].hasError('required') && (f['email'].dirty || f['email'].touched)">
            Моля попълнете полето email!
          </mat-error>
          <mat-error class="mt-1" *ngIf="f['email'].hasError('email') && (f['email'].touched)">
            Моля попълнете валиден email!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mb-2">
          <mat-label>Парола</mat-label>
          <input matInput placeholder="Парола" type="password" formControlName="password">
          <mat-error class="mt-1"
            *ngIf="f['password'].hasError('required') && (f['password'].dirty || f['password'].touched)">
            Моля попълнете полето парола!
          </mat-error>
          <mat-error class="mt-1"
            *ngIf="f['password'].hasError('minLength') && (f['password'].dirty || f['password'].touched)">
            Моля попълнете валиден email!
          </mat-error>
        </mat-form-field>
        <div class="text-center">
          <p class="small mb-2 pb-lg-2"><button class="btn btn-link text-white-50">Забравена парола?</button></p>
          <button class="btn btn-outline-light btn-lg px-5 m-auto" type="submit" (click)="login()">Вход</button>
        </div>
      </form>
    </div>

    <div class="text-center">
      <p class="mb-0">Нямате акаунт? Регистрирайте се от <button class="btn btn-link text-white-50 m-0 p-0"
          (click)="openRegistration()">тук</button>! </p>
    </div>

  </div>
</div>
