<div class="card gradient-custom text-white h-100 overflow-hidden">

  <button  class="align-self-end btn btn-sm pt-3 pe-3" type="button" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
  <h2 class="ps-5 fw-bold mb-2 text-uppercase">Регистрация</h2>
  <div class="card-body px-5 pb-3 text-start">

    <div class="mb-md-2 mt-md-4 pb-2">

      <form [formGroup]="form" class="needs-validation" novalidate>
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="fill">
          <mat-label>Име</mat-label>
          <input matInput placeholder="Име" formControlName="name">
          <mat-error class="mt-1" *ngIf="f['name'].hasError('required') && (f['name'].dirty || f['name'].touched)">
            Моля попълнете полето име!
          </mat-error>
        </mat-form-field>
        <div class="form-group ">

          <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
              <mat-error class="mt-1"  *ngIf="f['email'].hasError('required') && (f['email'].dirty || f['email'].touched) ">
                Моля попълнете полето еmail!
              </mat-error>
              <mat-error  class="mt-1" *ngIf="f['email'].hasError('email') && (f['email'].dirty || f['email'].touched) ">
                Моля попълнете валиден еmail!
              </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="w-100 mb-2" appearance="fill">
          <mat-label>Парола</mat-label>
          <input  matInput type="password" placeholder="Парола" formControlName="password">
          <mat-error *ngIf="f['password'].hasError('required') && (f['password'].dirty || f['password'].touched)">
            Моля попълнете полето парола!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mb-2" appearance="fill">
          <mat-label>Повтори парола</mat-label>
          <input  matInput type="password" placeholder="Повтори парола" formControlName="re_password">
          <mat-error *ngIf="f['re_password'].hasError('required') && (f['re_password'].dirty || f['re_password'].touched)">
            Моля попълнете полето повтори парола!
          </mat-error>
        </mat-form-field>


      </form>

      <div class="row d-flex justify-content-center">
        <!-- <button mat-raised-button class="btn btn-outline-light btn-lg px-5 col-4 " type="button" (click)="register()">Регистрация</button> -->
        <button class="btn btn-outline-light btn-lg px-5 col-5" type="submit" (click)="register($event)">Регистрация</button>
        <!-- <button class="btn btn-outline-light btn-lg px-5 col-5 ms-2" type="button" (click)="this.dialogRef.close()">Отказ</button> -->
      </div>


    </div>
  </div>
</div>
