<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mt-3">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2 class="ps-2 pt-2 fw-bold mb-2 text-uppercase text-muted w-100 ">Работно време</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mb-md-2 mt-md-4 pb-2" formGroupName="worktime">
    <div class="row">
      <mat-checkbox class="example-margin"  color="primary"
        (change)="cheboxChecked($event.checked,$event)">
        Денонощно отворено!
      </mat-checkbox>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Начало в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Край в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Начало в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Край в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Начало в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Край в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Начало в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Край в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Начало в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Край в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Начало в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Край в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Начало в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline">
          <mat-label>Край в понеделник</mat-label>
          <input matInput placeholder="Начало в понеделник" matTimepicker>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
