<div class="toolbar" role="banner">

  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />

  <a routerLink="/" class="h4  text-white " style="text-decoration: none;">{{title}}</a>
  <div class="spacer"></div>
  <button mat-flat-button routerLink="/garage/add-garage" class="me-3 bg-dark text-white btn-rad-20">
    <mat-icon>add_circle_outline</mat-icon>
    <span class="d-none d-md-inline">Добави</span>
  </button>
  <div *ngIf="userLogged;else notLogged">
    <button
      class="rounded-circle border border-4 d-flex justify-content-center align-items-center me-4 bg-danger text-white"
      style="width:40px;height:40px" [matMenuTriggerFor]="profile">
      <span class="">
        {{this.userName[0]}}
      </span>
    </button>

    <mat-menu #profile="matMenu" class="rounded">
      <button mat-menu-item (click)="openProfile()">
        <mat-icon>person_outline</mat-icon>
        <span>Профил</span>
      </button>
      <a mat-menu-item *ngIf="role == 'admin'" routerLink="/admin">
        <mat-icon>library_books</mat-icon>
        <span>Админски панел</span>
      </a>
      <a mat-menu-item routerLink="/favorites">
        <mat-icon   matBadge="{{favorites}}">bookmark</mat-icon>
        <span>Запазени</span>
      </a>
      <a mat-menu-item *ngIf="role == 'owner'" routerLink="/my-garages">
        <mat-icon>widgets</mat-icon>
        <span>Моите гаражи</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>call_missed_outgoing</mat-icon>
        <span>Изход</span>
      </button>
    </mat-menu>
  </div>
  <ng-template #notLogged>
    <button mat-icon-button class="me-4 " (click)="openDialog()"><mat-icon>person_outline</mat-icon></button>
  </ng-template>
</div>
