
<div class="d-flex flex-row justify-content-end text-end align-items-center">

  <button mat-icon-button matTooltip="Активност на потребителя" *ngIf="type=='users'" (click)="openHistory()">
    <mat-icon>timeline</mat-icon> </button>
  <button mat-icon-button matTooltip="Редактирай" *ngIf="(type!='roles' || rowData.id > 1)" (click)="edit()">
    <mat-icon>edit</mat-icon> </button>
  <button mat-icon-button matTooltip="Изтрий" *ngIf="(type!='roles' || rowData.id > 4)" (click)="this.delete()">
    <mat-icon>close</mat-icon> </button>
</div>
