<div class="d-flex justify-content-center mt-3">
  <div
    class="rounded-circle border border-4 border-secondary d-none d-md-flex justify-content-center align-items-center  bg-danger text-white  me-3 "
    style="width:50px;height:50px;">
    <div class="pt-2 h4">
      T
      <!-- {{this.userName[0]}} -->
    </div>
  </div>
  <div class="card w-100 m-auto">
    <div class="card-body p-4">
      <div class="">
        <div class="d-flex flex-row ">

          <h3 class="text-secondary">{{user_name}}</h3>
        </div>
        <!-- <p class="small">5 hours ago</p> -->
        <form>

          <mat-form-field class="form-outline form-white w-100 mb-2" appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Коментар</mat-label>
            <input matInput placeholder="Тип" [formControl]="review" placeholder="Добави коментар...">
            <mat-error class="mt-1"
              *ngIf="showError">
              Коментара трябва да е поне 5 символа!
            </mat-error>
          </mat-form-field>
        </form>

        <div class="w-100 text-end ">
          <button mat-raised-button color="primary" class="btn px-2 py-1  btn-rad-20 w-25  text-center" (click)="submitReview()" type="submit">
            <mat-icon>send</mat-icon>
            <span class="d-none d-md-inline">Изпрати</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
