<div class="row d-flex justify-content-center my-5">
  <div class="col-md-11 col-lg-9 col-xl-7">

    <div class="d-flex flex-start mt-3" *ngFor="let review of reviews">
      <!-- <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
        alt="avatar" width="65" height="65" /> -->
      <div
        class="rounded-circle border border-4 border-secondary d-sm-flex justify-content-center align-items-center  bg-danger text-white  me-4 "
        style="width:60px;height:60px">
        <div class="pt-2 h4">
          T
        </div>
      </div>
      <div class="card w-100">
        <div class="card-body p-4">
          <div class="">
            <div class="row flex-row justify-content-between w-100">

              <h5 class="col">{{review.user.name}}</h5>
              <p class="small col text-end">
                <span>{{review.created_at | date:'MMMM d, y h:mm a' }}</span>
                <span *ngIf="review.user_id == user_id || revew.user.is_admin">

                  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>Изтрий</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
                </span>
              </p>

            </div>
            <p class="float-right">
              {{review.content}}
            </p>

            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="d-flex align-items-center">
                <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>158</a>
                <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>13</a>
              </div> -->
              <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO:add sub reviews -->
      <!-- <ng-template *ngIf="review.reviews != []">
        {{review.reviews}}
        <app-review [sub_reviews]="review.reviews"></app-review>
      </ng-template> -->
    </div>
    <app-add-review [garage_id]="id" (refresh)="getData()"></app-add-review>
  </div>
</div>
