<app-filter (data)="setGarages($event)"></app-filter>
<div class="card mb-3 shadow-sm" *ngFor="let garage of garageList">
  <div class="d-flex flex-row ">
    <img *ngIf="garage?.profile" src="{{storageUrl + garage.profile.path}}" alt="Generic placeholder image"
      class="card-img-left col-5 object-fit-cover " height="250px" alt="...">
    <img *ngIf="!garage?.profile"
      src="https://images.unsplash.com/photo-1570129476815-ba368ac77013?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z2FyYWdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
      alt="Generic placeholder image" class="card-img-left col-5" alt="...">
    <div class="col">
      <div class="card-content ">
        <h2 class=" bold mb-2">{{garage.name}}
          <button class="btn mt-0 pt-1  me-2 float-end" (click)="favorite(garage.id)">
            <mat-icon>
              <span *ngIf="favorites && favorites.includes(garage.id);else notFav">bookmark</span>
              <ng-template #notFav><span>bookmark_border</span></ng-template>
            </mat-icon>
          </button>
        </h2>
        <p class="card-text align-self-middle ">{{garage.description | truncate:80}}</p>
        <p class="card-text align-self-middle ">{{garage.type}}</p>
        <p class="card-text align-self-middle">{{garage.services}}</p>
        <p class="card-text align-self-middle">{{garage.description | truncate:80}}</p>
      </div>
      <div class="d-flex flex-row justify-content-end align-items-end  pe-3 pb-3 mt-2">
        <button mat-raised-button class="btn-rad-20 bg-danger btn-danger me-2" *ngIf="this.rights && this.rights.delete"
          (click)="deleteGarage(garage.id)">Изтрий</button>
        <a mat-raised-button class="btn-rad-20 bg-warning btn-primary me-2" *ngIf="this.rights && this.rights.edit"
          [routerLink]="['/garage/edit-garage/', garage.id]">Редактирай</a>
        <a mat-raised-button color="primary" class="btn-rad-20 btn-danger"
          [routerLink]="['/garage/details', garage.id]">Преглед</a>
      </div>
    </div>
  </div>
</div>
