<div class="card-container">
  <div class="card-deck">
    <div class="card mb-3 shadow-sm" *ngFor="let garage of garageList">
      <div class="d-flex flex-row ">

        <img
          src="https://images.unsplash.com/photo-1570129476815-ba368ac77013?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z2FyYWdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
          class="card-img-left col-5" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{garage.name}}</h5>
          <p class="card-text align-self-middle">{{garage.description}}</p>
          <p class="card-text align-self-middle ">{{garage.type}}</p>
          <p class="card-text align-self-middle">{{garage.services}}</p>
          <p class="card-text align-self-middle">{{garage.description}}</p>
        </div>
        <div class=" align-self-center d-flex flex-column justify-content-end align-items-end h-100 border-success">
          <!-- <small class="text-muted">{{garage.created_at}}</small> -->
          <button mat-raised-button color="primary" class="">Детайли</button>
        </div>
      </div>
    </div>
  </div>
</div>
