<div class="container  ps-0 h-100" style="min-height: 100px;">
  <div class="box  p-4">
    <div>
      <div class="d-flex flex-col justify-content-center mb-3 mt-2">
        Сигурни ли сте че искате да изтрите този запис?
      </div>
    </div>
    <div class="mrg-top-30 text-center position-relative ">
      <button class="btn-rad-20 me-3" mat-raised-button color="primary" (click)="confirm()">Да</button>
      <button class="btn-rad-20 bg-dark text-white" mat-raised-button (click)="dialogRef.close()">Затвори</button>
    </div>
  </div>
</div>
