<div class="d-flex justify-content-end">
  <form [formGroup]="rating" class="rating z-3  h-25">
    <input formControlName="5" type="checkbox" value="5" id="r1">
    <label for="r1"></label>
    <input formControlName="4" type="checkbox" value="4" id="r2">
    <label for="r2"></label>
    <input formControlName="3" type="checkbox" value="3" id="r3">
    <label for="r3"></label>
    <input formControlName="2" type="checkbox" value="2" id="r4">
    <label for="r4"></label>
    <input formControlName="1" type="checkbox" value="1" id="r5">
    <label for="r5"></label>
  </form>
</div>
