<form [formGroup]="rating" >
  <mat-radio-group aria-label="Select an option" class="rating z-3  h-25" formControlName="rate">
    <mat-radio-button  value="1" type="checkbox"  hidden  class="star-radio-btn"></mat-radio-button>
    <mat-label  class="star-label" for="r1"></mat-label>
    <mat-radio-button  value="2" type="checkbox"  hidden  class="star-radio-btn"></mat-radio-button>
    <mat-label  class="star-label" for="r2"></mat-label>
    <mat-radio-button  value="3" type="checkbox"  hidden  class="star-radio-btn"></mat-radio-button>
    <mat-label  class="star-label" for="r3"></mat-label>
    <mat-radio-button  value="4" type="checkbox"  hidden  class="star-radio-btn"></mat-radio-button>
    <mat-label  class="star-label" for="r4"></mat-label>
    <mat-radio-button  value="5" type="checkbox"  hidden  class="star-radio-btn"></mat-radio-button>
    <mat-label  class="star-label" for="r5"></mat-label>
  </mat-radio-group>
</form>
