<div class="container  ps-0 h-100" style="min-height: 300px;">
  <div class="h3 px-4 py-4 normal bg-danger w-100 position-absolute top-0 left-0 text-white" *ngIf="status">
    Статус: {{status}}
  </div>
  <div class="box  p-4">
    <div style="min-height: 200px;">

      <div class="d-flex flex-col justify-content-center pt-5 mt-5" *ngFor="let message of messages | keyvalue">
        <div class="row ">{{message.value}}</div>
      </div>

    </div>
    <div class="mrg-top-30 text-center position-relative ">
      <button class="btn-rad-20" mat-raised-button (click)="redirect(redirectLink)" color="primary"
        *ngIf="redirectLink">OK</button>
      <button class="btn-rad-20" mat-raised-button (click)="dialogRef.close()" color="primary"
        *ngIf="!redirectLink">OK</button>

    </div>
  </div>
</div>
